<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:insert="~{layout/layout}" th:with="titulo='Cadastro de Contas'">

<body>
    <div layout:fragment="content">

        <form th:action="@{/contas}" method="POST" th:object="${conta}">
            <input type="hidden" th:field="*{id}" class="form-control" />

            <div class="form-group mx-sm-3 mb-2">
                <label for="correntista">Número</label>
                <input type="text" th:field="*{numero}" class="form-control  mb-2" />
                <p th:if="${#fields.hasErrors('numero')}" th:errorclass="error" th:errors="*{numero}" class="alert alert-danger" />
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <label for="correntista">Correntista</label>
                <select th:field="*{correntista.id}" class="form-select  mb-2">
                    <option th:each="cor : ${correntistaItems}" th:value="${cor.id}" th:text="${cor.nome}" />
                </select>
                <p th:if="${#fields.hasErrors('correntista.id')}" th:errorclass="error" 
                    th:errors="*{correntista.id}" class="alert alert-danger" />
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <label for="lastName">Data</label>
                <input type="date" th:field="*{data}" class="form-control  mb-2" />
                <p th:if="${#fields.hasErrors('data')}" th:errorclass="error" th:errors="*{data}" class="alert alert-danger" />
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a class="btn btn-secondary" th:href="@{/contas}">Cancelar</a>
            </div>
        </form>
    </div>
</body>

</html>
