<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:insert="~{layout/layout}" th:with="titulo='Home'">

<body>
    <div layout:fragment="content">

        <h2>BitBank</h2>

        <p>Este é o Bitbank, o seu banco digital muito mais acessível.</p>

        <div>Como administrador, você poderá:</div>
        <ul>
            <li>Adicionar ou consultar correntistas cadastrados use o menu <strong>Correntistas</strong></li>
            <li>Adicionar ou consultar contas cadastradas use o menu <strong>Contas</strong></li>
        </ul>

        <div>Como cliente, você poderá realizar operações na sua conta:</div>
        <ul>
            <li>Realizar créditos</li>
            <li>Realizar pagamentos</li>
        </ul>
    </div>

</body>

</html>