<html xmlns:th="www.thymeleaf.org">

    <head>
    <meta charset="UTF-8">
    <title>Cadastro de Correntistas</title>
</head>

    <body>
        <h1>Cadastro de Correntista</h1>

        <div th:text="${mensagem}" style="color: red"></div>

        <form th:action="@{/correntistas/form}" method="GET">
            <button class="btn btn-primary" type="submit">Novo</button>
        </form>
        <br />

        <table border="1">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Admin</th>
                    <th>Senha</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="correntista : ${correntistas}">
                    <td><a th:href="@{/correntistas/{id}(id=${correntista.id})}" th:text="${correntista.nome}"></a></td>
                    <td th:text="${correntista.email}"></td>
                    <td th:text="${correntista.admin}"></td>
                    <td th:text="${#strings.substring(correntista.senha,0,3)} + '...'"></td>
                </tr>
            </tbody>
        </table>
    </body>

</html>
